@{
    ViewBag.Title = "About Elysian Vintage";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<!--Jill Type the history below here --> 
<p>Use this area to provide additional information.</p>
