@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title.</h2>

<address>
    Minnetonka, MN 55305<br />
    <abbr title="Phone">P:</abbr>
    (952)-666-9567
</address>

<address>
    <strong>Customer Support:</strong>   <a href="mailto:ElysianVintageMN@gmail.com">Email Us</a><br />
</address>