@{
    ViewBag.Title = "Elysian Vintage Home Page";
}
<div class="container">
    <div class="row">
        <img class="img-responsive center-block" id="elysianVintageLogo" src="~/Content/Images/ElysianVintage.jpg" width="1000" height="400" />
    </div>
    <br />
    <div class="row">
        <div class="col-md-12 center-block">
            <script type='text/javascript' src='https://www.etsy.com/assets/js/etsy_mini_shop.js'></script>
            <script type='text/javascript'>new Etsy.Mini(11449930, 'gallery', 5, 5, 1, 'https://www.etsy.com');</script>
        </div>
    </div>
</div>